<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品评论</title>
    <script src="jQuery/jquery-3.3.1.min.js"></script>
    <script src="js/CommodityComment.js"></script>
    <style>
        .picture{

        }
        .line{
            display: inline-block;
        }
    </style>
</head>
<body>
商品评论
<hr size="" width="100%">
<div>
    <!--所有评论展示区-->
    <div>
        <!--单条评论显示  评论用户头像、评论用户名称、评论内容、评论图片、评论时间-->
        <div>
            <!--头部 头像、名称、时间-->
            <div class="line">
                <!--头像-->
                <img src="" alt="用户头像" class="picture">
            </div>
            <div class="line">
                <!--名称-->
                南沽木齐
            </div>
            <div class="line">
                <!--时间-->
                2018-6-6
            </div>
        </div>
        <div>
            <!--评论内容-->
            偷偷地下雨的时候月亮偷偷地，雨还在下像在说话！
        </div>
        <div>
            <!--评论图片-->

        </div>
        <hr size="3">
    </div>


    <div>
        <!--单条评论显示  评论用户头像、评论用户名称、评论内容、评论图片、评论时间-->
        <div>
            <!--头部 头像、名称、时间-->
            <div class="line">
                <!--头像-->
                <img src="" alt="用户头像" class="picture">
            </div>
            <div class="line">
                <!--名称-->
                南沽木齐
            </div>
            <div class="line">
                <!--时间-->
                2018-6-6
            </div>
        </div>
        <div>
            <!--评论内容-->
            偷偷地下雨的时候月亮偷偷地，雨还在下像在说话！
        </div>
        <div>
            <!--评论图片-->

        </div>
        <hr size="3">
    </div>



</div>

</body>
</html>