<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>财务管理</title>
</head>
<body>
<div>
    <!--商家信息-->
    <div>
        <a href="">
            <span><img src="" alt="商家图片"></span>
            <span>商家名称</span>
        </a>
    </div>

</div>
<div style="text-align: center">
    <!--头部菜单: 销量查询、员工管理、商品发布、订单处理、客服接待、商品管理、财务查询-->
    <span>
        <a href="MerchentPerson.html">查询</a>
    </span>
    <span>
        <a href="EmployeeManagement.html">员工管理</a>
    </span>
    <span>
        <a href="CommodityRelease.html">商品发布</a>
    </span>
    <span>
        <a href="CommodityManagement.html">商品管理</a>
    </span>
    <span>
        <a href="OrderDealwith.html">订单处理</a>
    </span>
    <span>
        <a href="CustomerServiceReception.html">客服接待</a>
    </span>
    <span>
        <a href="FinancialManagement.html">财务管理</a>
    </span>
</div>
</body>
</html>