<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <script src="jQuery/jquery-3.3.1.min.js"></script>
    <script src="js/Orderinfo.js"></script>
</head>
<body>
<div>
    <!--订单显示区 商家编号、订单号、商品图片、商品名称、商品单价-->
    <div>
        <!--商家名称-->
        <a href="Merchentinfo.html?id=商家编号">商家名称</a>
    </div>
    <div>
        <!--商品显示-->
        <div style="display: inline-block">
            <!--商品图片-->
            <a href="Commodityinfo.html?id=商品编号"><img src="" alt="商品图片"></a>
        </div>
        <div style="display: inline-block">
            <!--商品基本信息-->
            <div>
                <a href="Commodityinfo.html?id=商品编号">商品名称</a>
            </div>
            <div>
                商品单价
            </div>
            <div>
                商品数量
            </div>
        </div>
        <div>
            <!--实付款金额，联系商家-->
            <div style="display: inline-block">
                实付款金额
            </div>
            <div style="display: inline-block">
                联系商家
            </div>
        </div>
    </div>
</div>
</body>
</html>